@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto&family=Roboto+Condensed&display=swap');

/* body */
@import url(./body/body.css);

/* footer */
@import url(./footer/footer.css);
/* for_all_document */
@import url(./for_all_document/for_all_document.css);

/* header */
@import url(./header/header__menu__link.css);
@import url(./header/header__menu.css);
@import url(./header/header.css);

/* presentation */
@import url(./presentation/presentation.css);
@import url(./presentation/title-highlighting.css);

/* pesentation => img */
@import url(./presentation/img/presentation__img.css);

/* pesentation => content */
@import url(./presentation/content/presentation__content__paragraph.css);
@import url(./presentation/content/presentation__content__title.css);
@import url(./presentation/content/presentation__content.css);

/* pesentation => links */
@import url(./presentation/links/presentantion__links__h2.css);
@import url(./presentation/links/presentation__links.css);

/* variables */
@import url(./root/root.css);