@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto&display=swap');

@import url(./body/body.css);
@import url(./for_all_document/for_all_document.css);
@import url(./footer/footer.css);
@import url(./header/header.css);
@import url(./header/header__menu.css);
@import url(./header/header__menu__link.css);
@import url(./document_img/img.css);
@import url(./presentation/presentation.css);
@import url(./presentation/presentation__links.css);
@import url(./presentation/presentantion__links__h2.css);
@import url(./body/title-highlighting.css);

/* variables */
@import url(./root.css);

