.presentation__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.presentation__links__link {
    /* background-color: #22D4FD; */
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 378px;
    height: 79;
    text-align: center;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    padding: 21.5px 0;    
    text-decoration: none;
    color: #F6F6F6;
    border: 2px outset #22D4FD;
    font-family: 'Montserrat', sans-serif;
}