.footer {
    color: var(--main-color);
    background-color: var(--tertiary-color);
    padding: 18px;
    text-align: center;
    font-family: var(--montserrat-font);
    font-size: 18px;
    font-weight: 400;
}